.header {
    border-bottom: 1px solid #e5e5e5;
    &__container {
        max-width: 941px;
        min-height: 65px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 10px;
    }

    &__logo-container {
        margin: 24px 10px 0px 0px;
    }

    &__link {
        &:focus {
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }
    }

    &__img {
        width: 80px;
        height: 18px;
    }

    &__menu {
        margin-top: 25px;
    }
}

.menu {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0px 40px 5px 0px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: inline-block;
        font-family: "OpenSans-SemiBold","Arial", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        color: #48555B;
        text-transform: uppercase;

        &:focus {
            padding-bottom: 3px;
            border-bottom: 1px solid #000;
        }
        
        &:hover {
            color: #00A4E5;
        }

        &:active {
            opacity: .5;
        }
    }

    &__link-selected {
        color: #00A4E5;
    }
}

@media (max-width: $mobile-l) {
    .header {

        &__container {
            flex-direction: column;
        }
    }
    .menu {
        &__list {
            flex-direction: column;
            
        }

        &__item {
            margin: 0px 40px 20px 0px;
        }

        &__link {
            font-size: 16px;
        }
    }
}