.advantages {

    &__container {
        max-width: 941px;
        padding: 0px 10px;
        margin-top: 118px;
        margin-bottom: 115px;
    }

    &__title-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__title {

        &::after {
            top: 45%;
            left: 0;
        }
    }

    &__text {
        max-width: 440px;
    }

    &__link {
        display: inline-block;
        align-self: center;
    }

    &__list {
        margin-top: 78px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 10px;
    }

    &__item {
        width: 295px;
        height: inherit;
        border: 1px solid #E6E6E6;
        padding: 38px 22px 39px 23px;
        margin: 0px 10px 10px 0px;
    }

    &__card-img {
        width: 70px;
        height: inherit;
    }

    &__card-title {
        margin-top: 25px;
        font-family: "OpenSans-Bold", "Arial", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #48555B;
    }

    &__card-text {
        margin-top: 13px;
    }
}

@media (max-width: $tablet) {
    .advantages {
        &__container {
            margin-bottom: 60px;
        }

        &__list {
            justify-content: center;
        }

        &__title {

            &::after {
                top: 100%;
            }
        }

        &__title-block {
            justify-content: center;
            text-align: center;
        }

        &__text {
            margin: 10px 0px 10px 0px;
        }
    }
}
