.fullscreen {
min-height: 100vh;
background-image: url("../img/bg.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;

		&__body {
            flex: 1 1 auto;
            max-width: 700px;
            width: 100%;
            margin: 0 auto;
            padding-top: 41px;
            padding-bottom: 71px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
		}

		&__logo {
            align-self: center;
                  &:focus {
                        padding-bottom: 5px;
                        border-bottom: 1px solid #FFFFFF;
                  }
		}

		&__img {
            width: 102px;
            height: 23px;
		}

      &__text-block {
            padding: 0px 10px;
            padding-top: 16%;
      }

		&__title {
            font-family: "BebasNeue","Arial", sans-serif;
            font-weight: 400;
            font-size: 60px;
            line-height: 1.15;
            letter-spacing: 6px;
            color: #FFFFFF;
            text-transform: uppercase;
		}

		&__text {
            font-family: "OpenSans-Regular","Arial", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.15;
            color: #FFFFFF;
		}

		&__scroll {
            font-family: "OpenSans-Regular","Arial", sans-serif;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 4px;
            color: #FFFFFF;
            text-transform: uppercase;
		}
}

