.main {

    &__mail {
        background-color: #171819;
    }
}
.mail {

    &__container {
        max-width: 941px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        min-height: 100px;
        margin-top: -2px;
    }

    &__title {
        font-family: "OpenSans-Bold", "Arial", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #ffffff;
        margin-bottom: 10px;
    }

    &__form {
    }

    &__form-mail {
        min-width: 250px;
        min-height: 40px;

        &[value] {
            font-family: "OpenSans-Regular", "Arial", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #48555B;
            padding-left: 16px;
        }
    }

    &__form-button {
        min-width: 150px;
        min-height: 41px;
        margin-left: -4px;
    }
}

@media (max-width: $tablet) {
    .mail {
        &__container {
            padding-top: 20px;
        }
        &__title {
            align-self: center;
            padding: 10px 0px;
        }
        &__form {
            margin: 20px 0px 20px 0px;
            text-align: center;
        }

        &__form-mail {
            margin-bottom: 10px;
        }
    }
}